body{
    font-family: 'PT Sans', sans-serif;
}

.new-note{
    height:250px;
    min-width: 250px;
    max-height: 250px;
    max-width: 250px;
    border-radius: 4px;
    box-shadow: 0 0 4px 0px rgb(136, 136, 136);
    padding:75px;
    font-size: 72px;
}

.note{
    cursor:pointer;
    min-width: 250px;
    height:250px;
    max-height: 250px;
    max-width: 250px;
    border-radius: 4px;
    box-shadow: 0 0 4px 0px rgb(136, 136, 136);
    padding:10px;
}

.icon-container{
    transition: 0.2s;
    cursor: pointer;
    padding:14px;
    background-color: white;
    border: 1px solid lightgrey;
    box-shadow: 0 0 4px 0px rgba(136, 136, 136,0.4);
    border-radius:50%;
}

.icon-container:hover{
    font-size: 80px;
    padding:10px;
}

.container-fluid button{
    font-size: 20px;
}

.note-dialog{
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.note-box{
    padding:10px;
    height:580px;
    width:450px;
    margin:60px auto;
    border-radius: 4px;
}

#noteHead{
    width:100%;
    border:none;
}

#noteArea{
    resize: none;
    width:100%;
    border:none;
}

.note-display{
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.note-display-box{
    padding:10px;
    height:580px;
    width:450px;
    margin:60px auto;
    border-radius: 4px;
}

.display-content{
    height: 420px;
}